# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Rider
.idea/

# Azure DevOps
.vscode/

# NuGet
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
!**/packages/build/

# OS files
Thumbs.db
.DS_Store

# Recycle Bin used by JetBrains IDEs
.idea/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# node
node_modules/

c#_machines_oefening/
c#_bibliotheek_oefening/
